*~
*.o
*.so
*.os
*.dll
*.a
Makefile
*.cmake
*.makefile
*.json
*.log
install_manifest.txt
CMakeCache.txt
CMakeFiles
src/setup.py
src/solartherm.egg-info
src/build/
src/mytouch
Testing
SolarTherm/Models/Control/reference_1.mat
examples/*_res*.mat
.scons*
.sconf_temp
doc/out/*
src/wheel/*.whl
SolarTherm/Resources
.DS_Store
cscope.*
tests/SaltTwoTanks_Acciona_4
